@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WandohopeR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    background-color: rgb(230, 190, 190);
}

.title {
    margin-top: 200px;
    font-family: 'InkLipquid';
    font-size: 40px;
    align-items: center;
    text-align: center;
    color: black;
}

p {
    margin-top: -10px;
    font-family: 'InkLipquid';
    font-size: 32px;
    align-items: center;
    text-align: center;
    color: black;
}
span{
    color:tomato;
    transition: 1ms;
}
.wrapper{
    text-align: center;
    padding: 50px 0;
}
.circle{
    margin-left: 10px;
    margin-top: -10px;
    width: 150px;
    height: 150px;
    border-radius: 70%;
    text-align: center;
    line-height: 150px;
    display: inline-block;
    font-family: "WandohopeR";
    font-size: 25px;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
    transition-duration: 1s;
}

.circle:hover {
    width: 170px;
    height: 170px;
    line-height: 170px;
    cursor: pointer;
}

.first{
    background-color: red;
}
.second{
    background-color: orange;
}
.three{
    background-color: yellow;
    color: black;
}
.four{
    background-color: green;
}
.five{
    background-color: blue;
}
.six{
    background-color: indigo;
}
.seven{
    background-color: purple;
}
